<div class="santa-buttons">
    <button type="button" acttype="add" class="btn btn-block santa-buttons__button santa-buttons__button_add">Add new random employee</button>
    <button type="button" acttype="rem" class="btn btn-block santa-buttons__button santa-buttons__button_rem">Layoff random employee</button>
</div>