<div class="santa-buttons">
    <button acttype="add" class="santa-buttons__button santa-buttons__button_add">Add new random employee</button>
    <button acttype="rem" class="santa-buttons__button santa-buttons__button_rem">Layoff random employee</button>
</div>