@model CHomeVM

<section class="secret-santa-section">
    <div class="container container_main">
        <div class="row">
            <div class="col">
               <h1 class="secret-santa-section__title">Yo-ho-ho!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="secret-santa">
                    <h2 class="secret-santa__title">Tickets from the sack!</h2>
                    @await Html.PartialAsync("_SantaTickets", Model.SantaTickets)
                </div>
            </div>
        </div>
    </div>
</section>
